html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

th {
    border-bottom: 1px solid black;
}

tr {
    border-bottom: 1px solid black;
}

.form-control {
  border-radius: 0px;
}



#review-row {
  color: black;
}

#reviews {
  color: black;
  text-decoration: none;
}

