html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}
/* p, h1, a {
  color: #e3e3e3;
} */

th {
    border-bottom: 1px solid black;
}

tr {
    border-bottom: 1px solid black;
}

.form-control {
  border-radius: 0px;
}

#brand {
  text-decoration: none;
  color: black;
}


#review-row {
  color: black;
}

#reviews {
  color: black;
  text-decoration: none;
}

